.blur{
  filter: blur(3px);
  pointer-events: none;
  /* opacity: .6; */
}
.register-text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-canvas{
  display: flex;
  justify-content: space-around;
}

.left-panel{
  width: 30%;
  border-radius: 10px;
} 

.right-panel{
  width: 600px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	text-align: left;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: white;
	margin-right: 10%;
}

.right-panel form{
  padding: 10px;
}

.right-panel label{
  position: relative;
  font-weight: 530;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: relative;
}

.right-panel h3{
  margin: 10px 0px 0px 0px;
}


.right-panel select{
  padding: 5px;
  width: 30%;
  margin-top: 10px;
  position: relative;
  border: 1px solid  #4a90e2;
  border-radius: 5px; 
}

.submit-button{
  margin-top: 30px;
  text-transform: capitalize;
  width: 10%;
  display: block;
  background-color: #4a90e2;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  min-width: 123px;
  padding: 8px 16px;
  height: 36px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  font-size: 14px;
  border-width: 0;
}

.right-panel input {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 10px;
  border-color:  #4a90e2;
  box-sizing: border-box;
  width: 100%;
}

.right-panel input:active{
  border-color: #4a90e2;
  }


/* radio input */
input[type="radio"] {
  background-color: #fff;
  margin: 0;
  font: inherit;
  color:  #4a90e2;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid  #4a90e2;
  border-radius: 50%;
  accent-color:#4a90e2;
}

.radio-input label{
  flex-direction: row;
  margin-left: 5px;
  margin-top: 7px;
}